@model Cinema.IVH7B4.WebUI.Models.CinemaViewModel
@{
    ViewBag.Title = "Index";
}

<html>
<body>
    <div class="container padding-bot">

        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>@Resources.Global.SelectBioscoop</h1>
            </div>
        </div>

        <div class="row" id="row-offset">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <a href="#" class="btn btn-success" id="home_button" onclick="location.href='@Url.Action("SetLocationAndGotoFilmOverview", "Home", new { locationName = "Tilburg"})'">Tilburg</a>
            </div>
            <div class="col-xs-4">
                <a href="#" class="btn btn-success" id="home_button" onclick="location.href='@Url.Action("SetLocationAndGotoFilmOverview", "Home", new { locationName = "Breda"})'">Breda</a>
            </div>
            <div class="col-xs-3">
                <a href="#" class="btn btn-success" id="home_button" onclick="location.href='@Url.Action("SetLocationAndGotoFilmOverview", "Home", new { locationName = "Eindhoven"})'">Eindhoven</a>
            </div>
            <div class="col-xs-1">
            </div>
        </div>

    </div>
</body>
</html>


