@using Cinema.IVH7B4.WebUI.Models
@model Cinema.IVH7B4.WebUI.Models.CinemaViewModel
@{
    ViewBag.Title = "ING Bankbetaling";
}
    <div class="text-center">
        <img class="img-responsive" style="margin: auto; display: block;" src="http://www.winkeleninbloemendaal.nl/wp-content/uploads/2016/04/ING_Lion_Logo.jpg"></img>
        <p>Totaalprijs: @Model.GetCurrencyString(@Model.GetTotalPriceForAllTickets())</p>
    </div>    

    <div class="text-center">
        <form method="post" action="@Url.Action("ShowTicketView", "Ticket")">
            <table style="margin: 0 auto;">
                <tr>
                    <td>
                        
                        <p>Gebruikersnaam</p>
                    </td>
                    <td>
                        <input type="text" name="username"/>
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <p>Wachtwoord</p>
                    </td>
                    <td>
                        <input type="password" name="password"/>
                    </td>
                </tr>

            </table>
            <br />
            <br />
            <button type="submit" class="btn btn-success">Afrekenen</button>
        </form>
    </div>

</div>

