@using Cinema.IVH7B4.WebUI.Models
@model Cinema.IVH7B4.WebUI.Models.CinemaViewModel
@{
    ViewBag.Title = "Creditcard betaling";
}
<div class="text-center">
    <img class="img-responsive" style="margin: auto; display: block;" src="http://mijndebitcard.nl/wp-content/upload_folders/mijndebitcard.nl/2015/11/mastercard-logo.png"></img>
    <p>Totaalprijs: @Model.GetCurrencyString(@Model.GetTotalPriceForAllTickets())</p>
    <p>Alle velden zijn verplicht.</p>
    <p style="color: red">@ViewBag.Errorpayment</p>
</div>

<div class="text-center">
    <form method="post" action="@Url.Action("ShowTicketView", "Ticket")">
        <table style="margin: 0 auto;">
            <tr>
                <td>
                    <p>Kaartnummer</p>
                </td>
                <td>
                    <input type="number" name="cardnumber" min="111" max="999"/>
                </td>
            </tr>

            <tr>
                <td>
                    <p>Naam kaarthouder</p>
                </td>
                <td>
                    <input type="text" name="name" maxlength="20" />
                </td>
            </tr>
            
            <tr>
                <td>
                    <p>Vervaldatum</p>
                </td>
                <td>
                    <input type="date" name="date" />
                </td>
            </tr>
            
            <tr>
                <td>
                    <p>Beveiligingscode</p>
                </td>
                <td>
                    <input type="number" name="securitynumber" min="1111111111111111" max="9999999999999999"/>
                </td>
            </tr>

        </table>
        <br />
        <br />
        <button type="submit" class="btn btn-success">Afrekenen</button>
    </form>
</div>