@using Cinema.IVH7B4.WebUI.Models
@model Cinema.IVH7B4.WebUI.Models.CinemaViewModel

@{
    ViewBag.Title = "Betaalmethoden";
}
@Html.Partial("~/Views/Shared/_Menubar.cshtml")

<div class="container">
    <div class="text-center">
        <h2>Kies uw betaalmethode</h2>
        <hr />
    </div>

    <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-3">
            <button class="payment" type="button" onclick="location.href='@Url.Action("IdealPayment","Payment")'">iDeal</button>
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-3">
            <button class="payment" type="button" onclick="location.href='@Url.Action("CreditCardPayment","Payment")'">Credit Card</button>
        </div>

        <div class="col-md-1"></div>
        
        <div class="col-md-3">
            <button class="payment" type="button" onclick="location.href='@Url.Action("AfterPay","Payment")'">Betalen in bioscoop</button>
        </div>
    </div>
</div>