@model Cinema.IVH7B4.WebUI.Models.CinemaViewModel
@{
    ViewBag.Title = "Routebeschrijving";
}

<html>
<body>
    <div class="container padding-bot">

        @foreach(var loc in ViewBag.Locations) {

        <h2>@loc.Name</h2>
        <iframe src="@loc.GoogleMapsUrl" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        }
    </div>
</body>
</html>


