@model Cinema.IVH7B4.WebUI.Models.CinemaViewModel
@{
    ViewBag.Title = "Thanks for registering";
}
<html>
<body>
    <h2>Bedankt voor registreren</h2>
    <a href="/"><p>Ga terug naar de homepage</p></a>
</body>
</html>

