@model Cinema.IVH7B4.WebUI.Models.CinemaViewModel
<html>
<body>
    <div class="col-xs-4 text-center">
        <img src="@ViewBag.Base64" id="image_setter"/>
        <h2>@Model.SelectedFilm.Name</h2>
    </div>
</body>
</html>
