<html>
<body>
    <footer>
        <div class="container footer">
            <div class="row">
                <div class="col-xs-6">
                    <small><a href="#">Sitemap</a></small>
                    <small><a href="#" onclick="location.href='@Url.Action("Contact", "Contact")'">Contact</a></small>
                </div>
                <div class="col-xs-6 text-right">
                    <small>
                        Languages: 
                        <a href="/en/">English</a>, &nbsp;
                        <a href="/">Nederlands</a>
                    </small>
                    <small class="tab">
                        &copy; Avans AE&I IVH7B4
                    </small>
                </div>
            </div>           
        </div>
    </footer>
</body>
</html>
