<html>
<head>
    <!-- bootstrap links -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- custom css -->
    <link href="~/Content/Site.css" rel="stylesheet"/>
    <title>@ViewBag.Title</title>

</head>
<body>
    <header>
        <div class="container-fluid" id="header_container">          
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="text-center" id="big_title">Bioscoop IVH7B4 Breda</h1>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
</body>

</html>
