@model Cinema.IVH7B4.WebUI.Models.CinemaViewModel

@{
    ViewBag.Title = "ShowCodeView";
}
@Html.Partial("~/Views/Shared/_Menubar.cshtml")
<html>
<body>
    <div class="container">
        <div>
            <h1 align="center" style="margin-bottom:30px;">Bedankt voor uw bestelling!</h1>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <h3>U kunt uw ticket bij de bioscoop tot 20 minuten voor aanvang van de film afrekenen en ophalen met de volgende code:</h3>
                <h4><u>@ViewBag.keycode</u></h4>
            </div>            
        </div>

        <div class="row">
            <div class="col-xs-12 text-center">

                <a href="/" class="btn btn-success" style="margin-top:150px;">Terug naar home</a>
            </div>
        </div>
    </div>
</body>
</html>
